.willu-s-albums {

  width: 100%;
  font-family: 'Lato', sans-serif;


  .pure-g [class *= "pure-u"] {
    font-family: 'Lato', sans-serif;
  }



  .menu, .albums {
    display: inline-block;
    height: 200px;
  }

  .menu {
    padding: 0 1%;

    //background-color: red;
    ul {
      padding: 0;
      list-style: none;
    }

    li {
      width: 100%;
    }
  }

  .albums {
    //background-color: black;
  }


}
